.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #181824;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .app__navbar-h1 {
    color: #7562e0;
    margin-left: 30px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    font-family: kalam;
    text-shadow:
      0 0 0 transparent,
      0 0 10px #ff003c,
      0 0 20px rgba(255, 0, 60, 0.5),
      0 0 40px #ff003c,
      0 0 100px #ff003c,
      0 0 200px #1497e4,
      0 0 300px #ff003c,
      0 0 500px #ff003c,
      0 0 1000px #ff003c;
    animation: animate 2s infinite alternate;
  }

  @keyframes animate {
    40% {
      opacity: 1;
    }

    42% {
      opacity: 0.8;
    }

    43% {
      opacity: 1;
    }

    45% {
      opacity: 0.3;
    }

    46% {
      opacity: 1;
    }
  }

  @media screen and (min-width: 2000px) {
    width: 180px;
    height: 40px;
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      margin-bottom: 5px;
    }

    a {
      color: var(--white-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--hover-color);
      }
    }

    &:hover {
      div {
        background: var(--hover-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url('../../assets/bgWhite.png');
    background-color: var(--dark-color);
    background-size: cover;
    background-repeat: repeat;
    padding: 0;
    margin: 0;

    /* top box shadow */
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--white-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          .active {
            color: var(--hover-color);
          }

          &:hover {
            color: var(--hover-color);
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 90px;
      margin-top: 10px;

      svg {
        width: 75px;
      }
    }

    .icons-container {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;

      .bannerIcon {
        margin-bottom: 1rem;
        border-radius: 15px;
        box-shadow: rgba(163, 159, 159, 0.35) 0 5px 15px;
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
