.app {
  
  font-family: var(--font-base);

  .app__whitebg {
    background-color: var(--white-color);
  }

  .app__primarybg {
    background-color: var(--primary-color);
  }

  .app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);

    span {
      color: var(--hover-color);
      text-align: left;
      letter-spacing: 2px;
      margin-left: 5px;
    }

    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.35rem;
    }

    .home-logo {
      width: 95px;
      animation: fadeIn 2s linear;
      animation-delay: 1.4s;
      fill: #1ddfec;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .animate-logo-1 {
      transition: 0.3s linear;
      animation: logo 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    }

    .animate-logo-2 {
      animation: logo 7s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    }

    @keyframes logo {
      0% {
        transform: translateY(-20px);
      }

      50% {
        transform: translateY(40px);
      }
    }
  }

  .p-text {
    font-size: 1rem;
    text-align: left;
    color: var(--white-color);
    line-height: 1;

    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  }

  .common {
    font-family: kalam;
  }

  .heading {
    font-size: 20px;
    font-family: header;
    font-weight: bold;
  }

  .app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 450px) {
      padding: 4rem 1rem 2rem;
    }
  }

  .new4 {
    height: .01em;
    border: none;
    background-color: var(--white-color);
    width: 90%;
    text-align: center;  
  }
}
