@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  /* --primary-color: #edf2f8; */

  /* --primary-color: #fe932f1e; */
  --primary-color: #7562e0;

  /* --secondary-color: #313bac; */
  --secondary-color: #282162;
  --Low-priority: #848191;
  --Light-color: #f5f5f5;
  --gray-color: #6b7688;
  --dark-color: #000036;
  --white-color: #fff;
  --hover-color: rgb(44, 240, 240);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
